.project-element {
  width: 100vw;
  height: 25vw;
  display: inline-flex;
  background-color: black;

  /* box-shadow: inset 0 -25vw 25vw -25vw rgba(128, 128, 128, 0.76); */
}
.project-text-container {
  width: 60vw;
  margin-left: 0vw;
  height: 25vw;
  background-color: black;
  /* box-shadow: inset 0 -25vw 25vw -25vw rgba(128, 128, 128, 0.76); */
  padding-left: 6vw;
  padding-top: 5vw;
  padding-bottom: 0.5vw;
}
.p {
  color: white;
}
.project-img-container {
  width: 40vw;
  height: 25vw;
  margin: 1px;
  background-color: black;
  /* box-shadow: inset 0 -25vw 25vw -25vw rgba(128, 128, 128, 0.76); */
  padding-top: 3vw;
  padding-left: 5vw;
  padding-right: 7vw;
}

.title {
  font-size: 3.5vw;
}

.subtitle {
  font-size: 1.3vw;
  text-decoration: wheat;
}

.project-img {
  width: 17vw;
  height: 17vw;
}
