.home-container-mainsite {
  margin: 0px auto;
  align-content: center;
  text-align: center;
  margin-top: 300px;
  width: fit-content;
  height: fit-content;
  border-color: blanchedalmond;
  border-width: 2px;
  padding: 2vw;
  border-style: double solid;
}
.home-main-container {
  height: 100vw;
  width: 100vw;
}
.home-title-mainsite {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 991px) {
  .home-container-mainsite {
    height: fit-content;
    width: 100vw;
    margin-top: 350px;
  }
  .home-main-container {
    height: 100vw;
    width: 100vw;
  }
}

.main-port-conatainer {
  height: fit-content;
  width: 100vw;
  margin-top: 350px;
}
